output/
*~
build/
cmake-build-debug/
cmake-build-release/
.vscode/
.idea/
.cache/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
class_main